<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <link rel="stylesheet" href="content/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="content/css/lib/jquery/jquery-ui.min.css">

    <script src="script/lib/jquery/jquery.min.js"></script>
    <script src="script/lib/jquery/jquery-ui.min.js"></script>
    <script src="script/lib/bootstrap/bootstrap.js"></script>
    <script src="script/lib/angular/angular.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/PostNewsController.js"></script>
    <script src="app/services/DataService.js"></script>

</head>
<body ng-controller="postArticleCtr">


<form name = "postForm" ng-submit="submit();" class="form-horizontal">
    <div class="form-group">
        Enter text and hit enter:
        <input type="text" ng-model="objArt.headline" name="text" id="headline"/>
    </div>
    <div class="form-group">
        Enter summary:
    <input type="text" ng-model="objArt.summary" name="text" />
    </div>

    <div class="editor-field">
        <input type="file" fileread="objArt.image" />
    </div>
    <input type="submit" id="submit" value="Submit" />
</form>

-----------------------------------------
{{objArt}}
-----------------------------------------
<div class="group">
    <input type="file" id="file1" name="file"
           ng-files="getTheFiles($files)"> <!-- Сам выбор файла -->
</div>
<div class="group">
    <input type="button" ng-click="uploadFiles()" value="Upload" > <!-- Кнопка для загрузки файла -->
</div>
<div class="status-msg" ng-show="fileUploadSuccess">{{fileUploadMessage}}</div>
</div>




</body>
</html>