* {
	font-family: 'Open Sans', sans-serif, Arial, Verdana;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;}

.block-margin-top {margin-top: 20px;}
.block-margin-bot {margin-bottom: 20px;}

@media (min-width: 480px) and (max-width: 767px) {
	.block-margin-top {margin-top: 10px;}
	.block-margin-bot {margin-bottom: 10px;}}

.block-style {
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0, .07);}

@media (max-width: 479px) {.container {min-width: 480px;}}
@media (min-width: 480px) {.container {width: 480px;}}
@media (min-width: 768px) {.container {width: 740px;}}
@media (min-width: 992px) {.container {width: 740px;}}
@media (min-width: 1200px) {.container {width: 1000px;}}


@media (min-width: 0px) {body {background: url(../../content/img/backgrounds/800x1200.jpg) top center no-repeat fixed;}}
@media (min-width: 801px) {body {background: url(../../content/img/backgrounds/1000x1200.jpg) top center no-repeat fixed;}}
@media (min-width: 1001px) {body {background: url(../../content/img/backgrounds/1200x1200.jpg) top center no-repeat fixed;}}
@media (min-width: 1201px) {body {background: url(../../content/img/backgrounds/1280x1200.jpg) top center no-repeat fixed;}}
@media (min-width: 1281px) {body {background: url(../../content/img/backgrounds/1920x1080.jpg) top center no-repeat fixed;}}
@media (min-width: 1921px) {body {background: url(../../content/img/backgrounds/2560x1200.jpg) top center no-repeat fixed;}}
