.header-banner {height: 120px;}

.header-banner:hover {box-shadow: 0 0 15px rgba(0,0,0, .2);}

.header-banner a {
	display: block;
	height: 120px;}

.nav-bar { height: 40px;}

.nav-bar-btn span {
	color: #2c2c2c;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	padding-left: 19px;
	padding-right: 19px;}

.nav-bar-btn span:hover {background-color: #e9eaeb;}

.nav-bar-btn-active {background-color: #f9f9f9;}

.multi-language span {
	width: 40px;
	height: 40px;
	color: #aaa;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;}

.multi-language span:hover {
	background-color: #e9eaeb;
	color: #666;}

.multi-language-active {background-color: #f9f9f9 !important;}

.social a {
	margin-right: 10px;
	box-shadow: 0 0 15px rgba(0,0,0, 0.15);}
.social a:last-child {margin-right: 0px;}
.social a:hover {box-shadow: 0 0 15px rgba(0,0,0, .4);}

.social-btn-1,
.social-btn-2,
.social-btn-3,
.social-btn-4,
.social-btn-5 {
	width: 40px;
	height: 40px;
	background-image: url(../../content/img/other/social.jpg);}

.social-btn-1 {background-position: 0 0}
.social-btn-2 {background-position: -40px 0}
.social-btn-3 {background-position: -80px 0}
.social-btn-4 {background-position: -120px 0}
.social-btn-5 {background-position: -160px 0}

.news > div.news-element {margin-bottom: 20px;}
.news-element {height: 260px;}
.news-element:hover {box-shadow: 0 0 15px rgba(0,0,0, .35);}

.news-left {
	width: 260px;
	height: 220px;
	margin-top: 20px;
	margin-left: 20px;}

.news-right {
	width: 420px;
	height: 220px;
	margin-top: 20px;
	margin-left: 20px;
	position: relative;}

.news-title {
	color: #2c2c2c;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;}

.news-text-preview {
	margin-top: 20px;
	color: #3e3e3e;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;}

.news-data {
	color: #666;
	font-size: 15px;
	font-style: italic;
	line-height: 20px;
	position: absolute;
	left: 0;
	bottom: 0;}

.news-more-button {
	position: absolute;
	right: 0;
	bottom: 0;}

.news-more-button > a {
	color: #666;
	font-size: 15px;
	font-style: italic;
	line-height: 20px;
	text-decoration: none;}

.news-more-button > a:hover {color: #3e3e3e;}

.news-navigation-pn {
	width: 90px;
	color: #2c2c2c;
	font-size: 14px;
	line-height: 40px;
	text-align: center;}

.news-navigation-pn:hover {
	background-color: #e9eaeb;
	box-shadow: 0 0 15px rgba(0,0,0, .35);}

.news-navigation-number {
	width: 520px;
	margin-left: 20px;}

.news-navigation-number span {
	width: 40px;
	color: #aaa;
	font-size: 13px;
	line-height: 40px;
	text-align: center;}

.news-navigation-number span:hover {
	background-color: #e9eaeb;
	color: #666;}

.news-navigation-number-active {background-color: #f9f9f9;}

.sidebar-menu > div > a {text-decoration: none;}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
	display: block;
	height: 40px;}

.btn-1 {background-position: 0 0;}
.btn-2 {background-position: 0 -40px;}
.btn-3 {background-position: 0 -80px;}
.btn-4 {background-position: 0 -120px;}

.btn-1 span,
.btn-2 span,
.btn-3 span,
.btn-4 span {
	display: block;
	height: 40px;
	color: #fff;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	text-shadow: 0 0 7px rgba(0,0,0, .45);}

.btn-1 span:hover {background-color: rgba(38,154,208, 0.65);}
.btn-2 span:hover {background-color: rgba(66,177,154, 0.65);}
.btn-3 span:hover {background-color: rgba(255,221,92, 0.65);}
.btn-4 span:hover {background-color: rgba(221,97,85, 0.65);}

.sidebar-banner:hover {box-shadow: 0 0 15px rgba(0,0,0, .35);}

.copyright {height: 40px;}

.copyright > div{
	color: #2c2c2c;
	font-size: 14px;
	line-height: 40px;}

.copyright > div:first-child {padding-left: 10px;}
.copyright > div:last-child {padding-right: 10px;}


.search:hover {box-shadow: 0 0 15px rgba(0,0,0, .35);}

.search-input {
	border: none;
	outline: none;
	width: 230px;
	height: 40px;
	color: #3e3e3e;
	font-size: 14px;
	font-weight: 400;
	padding-left: 40px;
	background: url(../../content/img/other/search-ico.jpg) no-repeat;}

.search-input::-webkit-input-placeholder {color:#757575; font-style: italic;}
.search-input::-moz-placeholder          {color:#757575; font-style: italic;}
.search-input:-moz-placeholder           {color:#757575; font-style: italic;}
.search-input:-ms-input-placeholder      {color:#757575; font-style: italic;}

@media (min-width: 1200px) {
.header-banner a {
	width: 1000px;
	background-image: url(http://fakeimg.pl/1000x120/f5f5f5/555/?text=1000x120&font=lobster);}

.sidebar > div {margin-bottom: 20px;}
.sidebar > div:last-child {margin-bottom: 0;}

.sidebar-menu {height: 260px;}
.sidebar-menu > div {
	margin-left: 20px;
	padding-top: 20px;}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
	width: 200px;
	background-image: url(../../content/img/sidebar/btn-lg.jpg)}

.btn-1 span,
.btn-2 span,
.btn-3 span,
.btn-4 span {
	width: 200px;
	font-size: 21px;}}

@media (min-width: 768px) and (max-width: 1199px) {
.header-banner a {
	width: 740px;
	background-image: url(http://fakeimg.pl/740x120/f5f5f5/555/?text=740x120&font=lobster);}

.sidebar-menu {height: 80px;}
.sidebar-menu {
	margin-bottom: 20px;
	padding-top: 20px;}

.sidebar-menu > div {float: left !important;}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
	margin-left: 20px;
	width: 160px;
	background-image: url(../../content/img/sidebar/btn-md.jpg)}

.btn-1 span,
.btn-2 span,
.btn-3 span,
.btn-4 span {
	width: 160px;
	font-size: 21px;}

.social a {margin-right: 20px;}
.social a:nth-child(5n) {margin-right: 0px;}}

@media (min-width: 1px) and (max-width: 767px) {
.header-banner a {
	width: 480px;
	background-image: url(http://fakeimg.pl/480x120/f5f5f5/555/?text=480x120&font=lobster);}

.news > div.news-element {margin-bottom: 10px;}

.news-right {width: 440px;}

.news-navigation-pn {
	margin-left: 10px;
	margin-right: 10px;}

.news-navigation-number {
	width: 240px;
	margin-left: 10px;}

.sidebar > div {margin-bottom: 10px;}

.sidebar-menu {height: 50px;}
.sidebar-menu {padding-top: 5px;}

.sidebar-menu > div {float: left !important;}

.btn-1,
.btn-2,
.btn-3,
.btn-4 {
	margin-left: 10px;
	width: 110px;
	background-image: url(../../content/img/sidebar/btn-sm.jpg)}

.btn-1 {margin-left: 5px;}

.btn-1 span,
.btn-2 span,
.btn-3 span,
.btn-4 span {
	width: 110px;
	font-size: 15px;}

.social {margin-top: 10px;}

.multi-language {margin-left: 0;}
.multi-language span {background-color: #fff;}}
